<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>683106084981-rlb85hj078g236qg87s9e9kskiprapt4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683106084981-rlb85hj078g236qg87s9e9kskiprapt4</string>
	<key>API_KEY</key>
	<string>AIzaSyDjtvfLtFnhAPCgXKR1VwyRyPewIsTBgyc</string>
	<key>GCM_SENDER_ID</key>
	<string>683106084981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aliens.Market</string>
	<key>PROJECT_ID</key>
	<string>market-bb1bf</string>
	<key>STORAGE_BUCKET</key>
	<string>market-bb1bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683106084981:ios:8550376b17e9ba1c8e703c</string>
</dict>
</plist>